.backgroundColor
{
  background-color: var(--color-main-background);
  margin-right: 2%;
  height: 25px;
  width: 25px;
  padding: 0;
  text-align: center;
}

.btnHover:hover
{
    background: var(--color-button-primary);
    border: var(--borders-width-style) var(--color-button-secondary);
}

.activeBtn {
    background: var(--color-button-secondary) !important;
   border: var(--borders-width-style) var(--color-button-primary) !important;
 }