/*
#183544 Foncé
#1472a3 Clair
 */

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #183544;
    background: #1472a3;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #1472a3;
    background: #183544;
}

.ui-state-hover, .ui-state-hover, .ui-state-hover {
     border: 1px solid #183544;
     background: #1472a3;
 }

.ui-widget-header {
    border: 1px solid #1472a3;
    background: #183544;
}

.sweet-alert button {
    border: 1px solid #1472a3 !important;
    background: #183544 !important;
}
.sweet-alert input {
    border: 1px solid #1472a3 !important;
}
