body {
	background-color: white; 
	color: white;
	margin: 10px;
	padding: 0;
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;

	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}
html {
    background-color: white;
}

/* Layers */
.layerContainer { position: relative; padding: 0; }
.imageLayer { position: absolute; }
.drawDiv { position: absolute; pointer-events: none; }
.dropBox { border: 5px dashed #ccc; }

/* Info */
.infotl { position: absolute; top: 0; left: 0; text-align: left; }
.infotr { position: absolute; top: 0; right: 0; text-align: right; }
.infobl { position: absolute; bottom: 0; left: 0; text-align: left; }
.infobr { position: absolute; bottom: 0; right: 0; text-align: right; }
.plot { position: absolute; width: 100px; height: 50px; bottom: 15px; }
.infoLayer ul { margin: 0; padding: 2px; list-style-type: none; }
.infoLayer canvas { margin: 0; padding: 2px; }

/* Tag list */
table.tagList thead td { 
	font-weight: bold; 
}
table.tagList td {
	border: 1px solid grey;
	padding: 2px; 
}
#tags form { 
	width: 50%; 
}

#pageHeader a { 
	color: #ddf; 
}
#pageHeader #toolbar {
 	display: inline-block;
  float: right;
}
#toolbox li:first-child {
 	list-style-type: none;
}
#pageMain {
	position: absolute; 
	height: 92%; 
	width: 99%;
	background-color: white;
}
#infotl { 
	color: #333; 
	text-shadow: 0 1px 0 #fff; 
}
#infotr { 
	color: #333; 
	text-shadow: 0 1px 0 #fff; 
}
#dropBox { 
	margin: 20px; 
}
#container {
	width:820px;
	height:100px;
	overflow:hidden;
}
#container.rotate90, #container.rotate270 {
	width:100px;
	height:820px
}
#image {
  transform-origin: top left; /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left; /* Chrome */
  -ms-transform-origin: top left; /* IE 9 */
}
#container.rotate90 #image {
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
}
#container.rotate180 #image {
  transform: rotate(180deg) translate(-100%,-100%);
  -webkit-transform: rotate(180deg) translate(-100%,-100%);
  -ms-transform: rotate(180deg) translate(-100%,-100%);
}
#container.rotate270 #image {
  transform: rotate(270deg) translateX(-100%);
  -webkit-transform: rotate(270deg) translateX(-100%);
  -ms-transform: rotate(270deg) translateX(-100%);
}

.drop_hover {
  -moz-box-shadow: 0 0 30px rgba(31, 65, 46, 0.8) inset;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}
.draggable {
  display: inline-block;
  margin: 20px 10px 10px 20px;
  padding-top: 20px;
  width: 80px;
  height: 40px;
  /*color: #3D110F;
  background-color: #822520;
  border: 4px solid #3D110F;
  text-align: center;*/
  font-size: 2em;
  cursor: move;

  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.blackColor
{
	color: black;
}

.darkClass
{
    background-color: grey;
    filter:alpha(opacity=70); /* IE */
    opacity: 0.7; /* Safari, Opera */
    -moz-opacity:0.70; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0;
    left: 0;
}

.imagefiles {
  width: 100%;
}
#ex1Slider .slider-selection {
    background: var(--color-main-background);
}
#ex2Slider .slider-selection {
    background: var(--color-main-background);
}
#ex3Slider .slider-selection {
    background: var(--color-main-background);
}
.slider-handle {
    background-image: linear-gradient(to bottom, #333 0%, #333 100%) !important;
    cursor: grab;
}

.qtip-content {
    padding: 0 0 !important;
}
.btn-danger {
    background-color: #ff0000 !important;
    border-color: #f5eced !important;
}
#infoCalibrage {
    margin-left: -3px;
    margin-top: -1px;
}
.qtip {

    max-width: none !important;
    background-color: var(--color-button-primary);
    border-color: var(--color-button-primary);
    border : var(--borders-width-style) var(--color-button-primary);

}

.material-icons.md-light {
    color:
            rgba(255, 255, 255, 1);
    user-select: none;
}
.material-icons.btnHelp {
    color: #dc3545;
    font-size: 29px;
    vertical-align: middle !important;
}

#dPadTige, #dPadCotyle {
    margin-top: 2%;
    margin-bottom: 2%;
}

.smallPaddingBot{
    padding-bottom: 1em;
}
.smallPaddingTop{
    padding-top: 1em;
}

.whiteColor
{
    color: white;
    text-shadow:
            0px 1px 2px #000,
            1px 0px 2px #000,
            -1px 0px 2px #000,
            0px -1px 2px #000;
    font-weight: 500;
}
#offsetHauteurTC {
    position: absolute;
    z-index: 1;
    text-align: center;
    bottom: 0;
}
greenHover:hover, #buttonValideInformationPatient:hover, #buttonValideOutilsDessin:hover, #buttonValideImplant:hover{
    background: green !important;
}
.greenHover:hover, #buttonRetourOutilsDessin:hover, #buttonRetourImplant:hover{
    background: red !important;
}
#padCircleTige, #padCircleCotyle{
    opacity: 0.7;
}