.pad {

    max-height: 26px;
    max-width: 26px;
    min-width: 26px;
}

.padCenter {
    max-width: 78px;
    max-height: 26px;
    min-width: 78px;
    margin-left: 2px;
    margin-right: 1px;
}

.padCircle {
    height: 145px;
}

.padTop {
    margin-top: 6px;
    margin-bottom: 2px;
}

.padMiddleTop {
    margin-left: 26px;
}

#buttonTournerHautTige, #buttonTournerBasTige {
    padding-top: 1px;
}

#buttonTournerHautTigeInactif, #buttonTournerBasTigeInactif {
    padding-top: 1px;
}

.padMiddleBot {
    margin-right: 26px;
}

.container {
    text-align: center;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54); 
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons {
    color: rgba(255, 255, 255, 1);
    user-select: none;
}

.material-icons.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.buttonRotationUp {
    -webkit-transform: rotate(45deg);

    transform: rotate(45deg);
}

.buttonRotationDown {
    -webkit-transform: rotate(45deg);

    transform: rotate(45deg);
}

.buttonInactif {
    pointer-events: none;
    opacity: 0.65;
}

#buttonDeplacer {
    max-height: 33px;
    max-width: 33px;
    min-width: 33px;
    margin-left: 56px;
    background-color: #f47d30;
}

#buttonDeplacerTige {
    padding-left: 1%;
    padding-top: 1%;
    font-size: 32px;
}


.col.pad > .material-icons {
    cursor: pointer;
}

.activeBtn
{
	background: #c55801 !important;
}
